<h1>Login</h1>
<form action="/show" method="post">
<label for="username">Create A Username:</label>
<input type="text" id="username" name="username"><br><br>
<label for="password">Create A Password:</label>
<input type="password" id="password" name="password"><br><br>
<input type="submit" value="Submit">
</form>