<h1>Signup</h1>

<form action="/login" method="post">
<label for="username">Create A Username:</label>
<input type="text" id="username" name="username"><br><br>
<label for="password">Create A Password:</label>
<input type="text" id="password" name="password"><br><br>
<input type="submit" value="Submit">
</form>