<h2>Contact</h2>
<form action="/contacts/new" method="post">
<label for="name">Name</label>
<input type="text" name="name"><br><br>
<label for="name">Phone Number</label>
<input type="text" name="phone"><br><br>
<label for="name">Email</label>
<input type="text" name="email"><br><br>
<label for="name">Address</label>
<input type="text" name="address"><br><br>
<input type="submit" value="Submit">
</form>